body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
}

header {
  background: rgb(174, 192, 192);
  color: #ffffff;
}

header h1 {
  margin: auto;
  padding: 50px 0;
  font-size: 35px;
  text-align: center;
}

header h1 a:hover {
  color: #ffffff;
}

header h1 a {
  color: #000000;
  text-decoration: none;
}

main {
  width: 80%;
  margin: 0 auto;
}

#choice {
  display: flex;
  align-items: center;
  margin: 24px 0px;
}

#choice label {
  margin-right: 14px;
}

#choice select {
  width: 30%;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.sudoku-with-numbers {
  display: flex;
  justify-content: space-evenly;
}

table {
  border-collapse: collapse;
  /* margin: 0 auto; */
}

td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
}

td:first-child {
  border-left: 3px solid black;
}

tr:first-child {
  border-top: 3px solid black;
}

td:nth-child(3n) {
  border-right: 3px solid black;
}

tr:nth-child(3n) {
  border-bottom: 3px solid black;
}

td.selected {
  background-color: #ccc; /* Grey background color */
}

.filled {
  background-color: rgb(174, 192, 192);
}

.incorrect {
  background-color: rgb(242, 103, 103);
}

#numbers {
  padding: 0px;
  /* margin: 0px 0px 0px 50px; */
  display: flex;
  flex-direction: column;
}

#numbers p {
  margin: 4px;
  padding: 8px;
  list-style-type: none;
  font-size: 30px;
  cursor: pointer;
  background-color: rgb(200, 213, 213);
  border-radius: 5px;
}

#numbers p:active {
  background-color: rgb(174, 192, 192);
  border-radius: 5px;
}

footer {
  background: rgb(174, 192, 192);
  padding: 15px;
  margin-top: 24px;
}

footer p {
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .sudoku-with-numbers {
    flex-direction: column;
  }

  table {
    margin: 0 auto;
  }

  #numbers {
    flex-direction: row;
    margin: 30px auto;
  }

  #numbers p {
    padding: 8px;
  }

  #choice {
    flex-direction: column;
    align-items: start;
  }

  #choice select {
    margin-top: 14px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  header h1 {
    padding: 30px 0;
    font-size: 24px;
  }

  main {
    width: 90%;
  }

  td {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }

  #numbers p {
    margin: 0 10px 0 0;
    padding: 10px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 380px) {
  td {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }

  select {
    width: 100%;
  }

  #numbers {
    margin: 10px auto;
  }

  #numbers p {
    padding: 4px;
    font-size: 12px;
  }
}
